.coordinates__container {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  width: 80%;
  justify-content: space-around;
  justify-self: center;
}

.coordinate_field {
  display: flex;
  flex-direction: row;
  min-width: 30%;
  justify-content: space-between;
}
